.player-tile {
  background-image: url('./floor.png');
  background-size: cover;                   
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
