.empty-tile {
  background-image: url('./floor.png');
  background-size: cover;                   
  background-repeat: no-repeat;
  background-position: center center;
  background-color: lightgray;
}

.point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: yellow
}